header {
  height: 120px;
  background-image: url(../images/increasefruitconsumption_header.jpg);
  background-size: 100%;
  display: flex;
  align-items:center;
  justify-content: center;

}

p {
  background-color: green;
  color: white;
  height: 120px;
  background-size: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 60px;
  font-family: times;
}

li{
  display: inline-block;
  list-style-type: none;
  border: none;
  font-size: 60px;
  font-family: times;
  padding: 30px;

}
a {
  text-decoration: none;
  color: inherit;
}

main {
	display: flex;
  align-content: flex-start;
	align-items: flex-start;
	justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: gray;
}

article {
	background-color:green;
	display: flex;
	align-items: center;
  justify-content: center;
	text-align: left;
  margin: 5px;
  height: 200px;
}

.story {
  width: 100%;
  font-family: serif;
  font-size: 65px;
  color: white;
  background-color: white;
}

#original {
  background-image: url(../images/original.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#ginger {
  background-image: url(../images/ginger.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

#lemonLime {
  background-image: url(../images/lemonlime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#rasp {
  background-image: url(../images/rasp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#honeyLemon {
    background-image: url(../images/honeylemon.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#bnb {
  background-image: url(../images/bnb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#pomegranate {
  background-image: url(../images/pomegranate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#hcrisp {
    background-image: url(../images/hcrisp.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

#kiwi {
    background-image: url(../images/kiwi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

@media (min-width: 768px) {
  .story {
    width: calc(50% - 50px);
  }
}

@media (min-width: 992px) {
  .story {
    width: calc(33% - 10px);
  }
}

@media (min-width: 1200px) {
  .story {
    width: calc(25% - 10px);
  }
}
